
.yearly-view {
        overflow-x: hidden;
  background-size: cover;
  height: 100vh;
      }

      .yearTitle{
        padding-top: 20px;
    color: #7b9e87;
    font-size: 50px;
    text-align: center;
      }
      
      .monthly-calendars {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 55px;
        justify-content: center; 
        justify-items: center;
        padding-bottom: 100px;
        padding: 20px;
      }

      .monthly-calendar .react-calendar {
        display: inline-block; 
        margin: 0 auto; 
      }
      
      @media screen and (max-width: 1400px) {
        .monthly-calendars {
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
        }
      }
      
      @media screen and (max-width: 1000px) {
        .monthly-calendars {
                grid-template-columns: repeat(1, 1fr);
                justify-items: center; /* This centers the content */
              }  
      }

      @media (max-width: 450px) {
        .yearTitle {
          font-size: 30px;
        }
       
      }

      
      
      
      

