.home-page {
    background-color: #EFEFEF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-size: cover;
    height: 100vh;
  }

  .todays-date {
    padding-top: 20px;
    color: #7b9e87;
    font-size: 70px;
    text-align: center;
}

  .emojis {
    backface-visibility: hidden;
    padding: 12px;
    text-align: center;
  
    margin: 60px -44px -44px -44px;
    border-radius: 8px;
	position: relative;
	bottom: 40px;
  }

  @media (max-width: 1023px) {
    .emojis {
      margin: 30px -16px -16px -16px; } }

  @media (max-width: 600px) {
    .emojis {
      margin: 30px -8px -12px -8px;
      border-radius: 8px; } }

  .emoji-reaction-prompt {
      padding-bottom: 9px;
      text-align: center;
      color: #b6be9c;
      font-size: 20px;
  }
  
  .emojis .emoji-reaction {
    filter: grayscale(100%);
      background: none;
      color: inherit;
      border: none;
      padding-bottom: 20px;
      font: inherit;
      cursor: pointer;
      outline: none;
      width: 60px;
      display: inline-block;
      text-align: center;
      font-size: 40px;
      transition: transform 0.16s cubic-bezier(0.65, 0.61, 0.18, 1.8) 0.02s, filter 0.32s linear;
      cursor: pointer;
      transform-origin: 50% 60%;
  }

  .emojis .emoji-reaction:hover, .emojis .emoji-reaction:focus {
    filter: grayscale(0%);
          transform: scale(1.32);
        transition: transform .04s;
  }

  .emojis .emoji-reaction.active{
    filter: grayscale(0%);
    transform: scale(1.4);
    transition: transform .04s;
  }
  
  .editor-container {
    margin: 0 auto;
    max-width: 700px;
  }

  .custom-editor {
    padding: 20px; /* Adjust padding as needed */
    height: 500px;
    box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
    border-radius: 20px;
    overflow: auto; /* Add this line to enable scrollbar */
    background-color: #FFFFFF;
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
  }
  
  .custom-editor .DraftEditor-root {
    width: calc(100% - 20px); /* Adjust for padding */
    height: calc(100% - 20px); /* Adjust for padding */
    overflow: auto; /* Add this line to enable scrollbar */
  }
  
  

  .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: #0F0F0F; 

  }

  .editor-addons {
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .word-limit {
    font-size: 15px;
    color: #0F0F0F;
  }

  .submit-button {
	background-color: #d2d0ba;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    color: #5e747f;
    border: none;
    outline: none;
    margin: 5px;
    font-weight: normal;
  }

  .submit-button:hover {
    background-color: #E3E1D3;
  }

  .disabled-button {
    background-color: #ccc; /* Use the desired grey color */
    cursor: not-allowed;
  }

  .disabled-button:hover {
    background-color: #ccc; /* Use the desired grey color */
  }
  
  