.sidebar {
  width: 100%;
  max-width: 200px;
  background-color: #e5c1bd;
  min-height: 100vh;
  position: relative;
}

.logo {
  text-align: center;
  padding: 10px;
  padding-top: 30px;
}

.logo img {
  max-width: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 20px;
  cursor: pointer;
}

.Link {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #2a383f;
  font-size: 20px;
}

.sidebar li:hover {
  background-color: #eed7d5;
}

.sidebar ul li {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar .logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 500px) {
  .sidebar {
    width: 60px;
  }

  .sidebar ul li {
    text-align: center;
  }

  .sidebar .logout {
    text-align: center;
  }

  .sidebar ul li span {
    display: none;
  }
}
