.sidebar {
  width: 200px; 
  background-color: #e5c1bd;
  height: 100vh;
  }

  .logo {
    text-align: center;
    padding: 10px;
    padding-top: 30px;
  }
  
  .logo img {
    max-width: 100%; 
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 20px;
    cursor: pointer;
    
  }

  .Link {
    text-decoration: none;
    color: #2a383f;
    font-size: 20px;
  }
  
  .sidebar li:hover {
    background-color: #EED7D5;
  }

  .sidebar ul li {
    padding: 10px 20px; /* Adjust the padding as needed */
    cursor: pointer;
    margin-bottom: 10px; /* Add margin between the links */
  }
  
  

  @media (max-width: 500px) {
    .sidebar {
      width: 60px; /* Adjust width as needed */
    }
  
    .sidebar ul li {
      text-align: center;
    }
  
    .sidebar ul li span {
      display: none;
    }
  }