.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #d2d0ba;
  }
  
  .title {
    margin-bottom: 2rem;
    color: #5e747f;
    font-size: 5rem;
  }
  
  .form-container {
    padding: 5rem;
    border: 1px solid #000; /* Add your border properties here */
    border-radius: 10px;
    background-color: #f2f1e8;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }
  
  .linkBtn {
    background-color: #7b9e87;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    
    
  }

  .linkBtn:hover {
    background-color: #B4C7BA;
    border-color: #B4C7BA;
    text-decoration: none;
    color: #fff;
  }
  
  .primaryBtn {
    background-color: #7b9e87;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }

  .primaryBtn:hover {
    background-color: #B4C7BA;
    border-color: #B4C7BA;
  }
  